* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.app {
  margin: auto;
  margin-top: 1rem;
  width: 50%
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
}

.weather-details {
  display: flex;
  align-items: center;
}

.weather-icon {
  margin-right: 10px;
}
